#logo{
	background-color:#00A2A2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;
	height: 15%;
}
.topsite{
	background-color:#00A2A2;
	border-radius: 20px;
	box-shadow: 4px 5px 4px black;
}
header{
	font-size: 1.8em;
	text-decoration: none;
}

input{
	border-radius: 5px;
}

form{

	float: right;
	padding-top: 1em;
	padding-left: 1em;
	text-align: center;
	margin-top: 15%;
	font-weight: bold;
	font-size: 1.2em;
	background-color: white;
	width: 15em;
	height: 10em;
	border-radius: 1em;
}

.screenshots{
	background-color:rgba(224,103,15,0.92);
	display:flex;
	height: auto;
	width: auto;
	max-height: 600px;
	max-width: 900px
}

img{
	height: auto;
	width: auto;
	max-height: 600px;
	max-width: 285px
	flex: 33.33%;
	object-fit: contain;
}

aside{
	margin-right: 5%;
	float: right
}
button{
	margin-left: 38%;
	font-size: : 25px;
	background-color :#00A2A2;
	border-radius: 5px;
	box-shadow: 1px 2px black;
	padding: 5px 8px;
	font-size: 28px;
}

a{
	text-decoration: none;
	font-weight: bold;
	color: black;
}
a:hover{
	color:white;
}

body{
	background-color:rgba(224,103,15,0.92);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
h4{
	font-weight: bold;
	font-size: 1.5em;
}
*{
	text-align: justify;
	font-family: 'Roboto', sans-serif;
}
